{% extends 'layout-default.njk' %}

{% block themeBody %}
  <div class="ga-head-l"></div>
  <div class="ga-head-main">
    {{ site.name }} 
  </div>
  <div class="side-top ga-head-side">
      <nav>
        <ul>
          <li><a href="/Mon-Wed">Mon Wed</a></li>
        </ul>
      </nav>
  </div>
  <div class="ga-head-r"></div>
  <div class="color-band ga-head2-l"></div>
  <div class="color-band ga-head2-side">
  </div>
  <div class="color-band ga-head2-r"></div>
  <div class="ga-content-l"></div>
  <div class="sidebar-grid-area">
    <iframe src="/static/wc/df-chat-app/inner.html" width="100%" height="800px"></iframe>
  </div>
  <div class="ga-content-r">
  </div>
{% endblock themeBody %}
